/* ADMIN FORM */
.admin-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-left: 20px;
    font-family:
            -apple-system,
            BlinkMacSystemFont,
            Segoe UI,
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            Fira Sans,
            Droid Sans,
            Helvetica Neue,
            sans-serif;
    font-size: 12px;
}

.admin-form-container {
    position: relative;
    overflow: auto;
}

/* PLAYER STAT FORM */
.stat-header-container,
.admin-player-row {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

/* STAT HEADERS */
.stat-header-container {
    position: sticky;
    margin-bottom: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form-item-label {
    display: inline-block;
    align-self: center;
    min-width: 100px;
    text-transform: uppercase;
}

.stat-cell {
    display: inline-block;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    margin: 0 5px;
    border: 1px solid grey;
}
